body {
	display: flex;
	align-items: center;
	justify-content: center;

	background: #ececec;
	margin: 0;
	padding: 0;

	h1 {

	}

	#app {
		width:1024px;
		height: 768px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #f1f1f1;
		border: 1px solid #000;
	}

	.lable {
		border: 1px solid #ccc;
		padding: 5px;
	}

	.lable > span {
		margin-left: 5px;
		margin-right: 5px;
		font-size: 1.2em;
	}

	.lable > input[type='checkbox'] {
		margin-left: 5px;
		margin-right: 5px;
		width: 20px;
		height: 20px;
		border: 1px solid #ccc;
	}

	.listBox {
		width: 300px;
		height: 100%;
	}
}
